<h2 class="m-2">ユーザー情報編集 <%= resource_name.to_s.humanize %></h2>
<div class="form-box p-4">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-3">
      <%= f.label :password %> <i>(変更しない場合空欄で構いません)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em>最低<%= @minimum_password_length %>文字入力してください。</em>
      <% end %>
    </div>

    <div class="field mb-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :current_password %> <i>(変更を適用するには現在のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "更 新", class: "btn btn-dark" %>
    </div>
  <% end %>

  <hr>
  <h3>アカウントを削除する</h3>

  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delModal">
    <i class="bi bi-trash"></i>
    削除
  </button>

  <hr>
  <%= link_to "戻る", :back %>

</div>

<%# 削除確認モーダルウィンドウ %>
  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        アカウントを削除します。<br />
        よろしいですか？
      </div>
      <div class="modal-btns">
        <%= link_to registration_path(resource_name), class: "btn modal-del-btn", method: :delete do %>
          削除する
        <% end %>
        <div id="closeModal" class="btn modal-btn">
          キャンセル
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delModalLabel">削除</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          アカウントを削除すると<br>
          これまでのメモもすべて削除されます<br>
          よろしいですか？
        </div>
        <div class="modal-footer">
          <%= link_to registration_path(resource_name), class: "btn btn-dark", method: :delete do %>
            削除する
          <% end %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
<%# 削除確認モーダルウィンドウ %>