<div class="form-box">
  <%= form_with(model: @memo, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofucus: true %>
    </div>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content, rows: "5", class: "text-area" %>
    </div>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image, class: "img-btn" %>
    </div>

    <div class="actions">
      <%= f.submit "更 新", class: "btn memo-btn" %>
    </div>
  <% end %>
</div>