<div class="form-box">
  <%= form_with(model: @memo, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="field mb-3">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofucus: true, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :content %><br />
      <%= f.text_area :content, rows: "5", class: "text-area", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :image %><br />
      <%= f.file_field :image, class: "img-btn", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "作 成", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>