<div class="memo-headline">
  <h2><%= @memo.title %></h2>
  <div class="memo-created-at"><%= l @memo.created_at %></div>
  <% if current_user.id == @memo.user.id %>
    <div class="memo-btns">
      <div class="memo-edit-btn btn">
        <%= link_to '編集', edit_memo_path %>
      </div>
      <div class="memo-delete-btn btn">
        <%= link_to '削除', memo_path(@memo.id), method: :delete, data: {confirm: '削除します。よろしいですか？', cancel: 'キャンセル', commit: '削除する'}, title: '削除確認' %>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="memo-detail">
  <%= @memo.content %>
  <div class="memo-image">
    <% if @memo.image.attached? %>
      <hr>
      <%= image_tag @memo.image.variant(resize: '500x500') %>
    <% end %>
  </div>
</div>  