<div class="memo-headline">
  <h2><%= @memo.title %></h2>
  <div class="memo-created-at"><%= l @memo.created_at %></div>
  <% if current_user.id == @memo.user.id %>
    <div class="memo-btns">
      <div class="memo-edit-btn btn">
        <%= link_to '編集', edit_memo_path %>
      </div>
      <div id="openModal" class="btn memo-delete-btn">
        削除
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="memo-detail">
  <%# <%= @memo.content %>
  <%= safe_join(@memo.content.split("\n"),tag(:br)) %>
  <div class="memo-image">
    <% if @memo.image.attached? %>
      <hr>
      <%= image_tag @memo.image.variant(resize: '500x500'), class: "memo-img" %>
    <% end %>
  </div>
</div>

<%# 削除確認モーダルウィンドウ %>
  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        このメモを削除します。<br />
        よろしいですか？
      </div>
      <div class="modal-btns">
        <%= link_to memo_path(@memo.id), class: "btn modal-del-btn", method: :delete do %>
          削除する
        <% end %>
        <div id="closeModal" class="btn modal-btn">
          キャンセル
        </div>
      </div>
    </div>
  </section>
<%# 削除確認モーダルウィンドウ %>