<!DOCTYPE html>
<html>
  <head>
    <title>OreMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2><%= link_to '俺のメモ帳', root_path %></h2>
      <% if user_signed_in? %>
        <p><%= current_user.name %></p>
        <p><%= link_to '新規メモ作成', new_memo_path %></p>
        <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to '新規登録', new_user_registration_path %></p>
        <p><%= link_to 'ログイン', new_user_session_path %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
